.menu {



    display: flex;

    /* deixa o texto deitado escrevendo corrido que quebre o texto*/



}



.menu li a {

    display: block;

    /*cria texto fixo*/

    padding: 8px;

    /*grossura do quadrado*/




}



.menu li {

    margin-left: 10px

}



/* separa o texto  */



.header {

    display: flex;
    background-color: rgb(0, 92, 121);

    padding: 80px;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-between;



}



.s {

    position: absolute;

    width: 115px;

    height: 25px;

    left: 8px;

    top: 100px;

    background: #D9D9D9;

    border-radius: 57px;

    text-align: center;

}



.a {

    position: absolute;

    width: 115px;

    height: 25px;

    left: 200px;

    top: 100px;

    background: #D9D9D9;

    border-radius: 57px;

    text-align: center;

}



.b {

    position: absolute;

    width: 115px;

    height: 25px;

    left: 400px;

    top: 100px;

    background: #D9D9D9;

    border-radius: 57px;

    text-align: center;

}



.barra {

    position: absolute;

    width: 600px;

    height: 25px;

    left: 989px;

    top: 100px;

    background: #D9D9D9;

    border-radius: 57px;

    text-align: center;

    text-align: left;

}



.divBusca {

    position: absolute;

    width: 600px;

    height: 25px;

    left: 989px;

    top: 100px;

    background: #D9D9D9;

    border-radius: 57px;

    text-align: center;

    text-align: left;

}
.img{
    position: absolute;
    width: 500px;
    height: 600px;
    left: 150px;
    top: 350px;
    background: rgb(43, 123, 220);
    border-radius: 20px;
}
.detalhes{
    position: absolute;
    width: 500px;
    height: 600px;
    left: 900px;
    top: 350px;
    background: rgb(24, 144, 205);
    border-radius: 20px;
    
}
.compra{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 190px;
    top: 1000px; 
    background: #D9D9D9;
    border-radius: 20px;
}
.carrinho{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 190px;
    top: 1070px; 
    background: #D9D9D9;
    border-radius: 20px;
}
.pagamento{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 950px;
    top: 1000px; 
    background: #D9D9D9;
    border-radius: 20px;
}
.rodape{
    padding: 150px;
    background: aquamarine;
}





